DJANGO_SECRET_KEY=replace-with-a-local-secret
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

POSTGRES_HOST=localhost
POSTGRES_PORT=55432
POSTGRES_USER=stagebridge
POSTGRES_PASSWORD=stagebridge

BACKEND_DB_ENGINE=postgres
BACKEND_DB_HOST=localhost
BACKEND_DB_PORT=55432
BACKEND_DB_NAME=stagebridge_backend
BACKEND_DB_USER=stagebridge
BACKEND_DB_PASSWORD=stagebridge

PROD_DB_HOST=localhost
PROD_DB_PORT=55432
PROD_DB_NAME=stagebridge_prod
PROD_DB_USER=stagebridge
PROD_DB_PASSWORD=stagebridge

DEV_DB_HOST=localhost
DEV_DB_PORT=55432
DEV_DB_NAME=stagebridge_dev
DEV_DB_USER=stagebridge
DEV_DB_PASSWORD=stagebridge

STAGE_DB_HOST=localhost
STAGE_DB_PORT=55432
STAGE_DB_NAME=stagebridge_stage
STAGE_DB_USER=stagebridge
STAGE_DB_PASSWORD=stagebridge

DRYRUN_DB_HOST=localhost
DRYRUN_DB_PORT=55432
DRYRUN_DB_NAME=stagebridge_dryrun
DRYRUN_DB_USER=stagebridge
DRYRUN_DB_PASSWORD=stagebridge

PG_STATEMENT_TIMEOUT_MS=5000
ALLOW_EXTERNAL_DB_HOSTS=0

OPENAI_API_KEY=
OPENAI_MODEL=

